.naglowek {
  text-align: center;
  color: #ddd;
  padding-top: 19px;
  padding-bottom: 19px;
  margin: 0px auto;
  padding: 0px auto;
}

hr {
  margin: 0px auto;
}

.konfigurator:hover {
  background-color: rgba(105, 105, 105, 0.7);
}

#container {
  width: 100%;
  float: left;
}

.obrazek {
  display: flex;
  justify-content: center;
  float: left;
  padding: 0px 10px 0px 10px;
  width: 18%;
  height: 135px;
}

.tekst {
  width: 80%;
  height: 135px;
  font-size: 20px;
  font-weight: bold;
  float: left;
  font-family: Bookman Old Style;
}

a {
  text-decoration: none;
  font-weight: bold;
  float: left;
  font-family: Bookman Old Style;
  color: #ddd;
}
