body
{
	margin: 0px;
	background-image:url("../image/tlo1.jpg");
	background-repeat:repeat;
}
/*menu */
#menu {
	width: 100%;
	display: flex;
	justify-content: center;
}
	.menu-item {
		height: 50px;
		width: 15%;
		background-color: #545454;
		opacity: 0.8;
		/*text i jego centrowanie - css === zÅ‚o*/
		color: #FFFFFF;
		font-size: 18px;
		text-align: center;
		display: flex;
		justify-content:center;
		align-content:center;
		flex-direction:column;
	}
	.menu-item:hover {
		background-color: #5F5F5F;
	}
	#spacer {
		width: 30%;
		opacity: 0;
	}
	#glowna {

	}
	#zestawy {

	}
	#komponenty {

	}
	#podzespoly{

	}
	#kontakt {

	}
/*koniec menu*/
/*slider*/
.mySlides {display:none;}
