body {
  margin: 0px;
	background-image: url("../image/tlo.jpg");
	background-repeat: repeat;
}

#main {
  width:1000px;
  height:100%;
	margin:0px auto;
	border: 1px solid #000;
	position:relative;
	background-color:rgba(96, 96, 112, 0.4);
}

#menu {
  width:100%;
  float:left;
}

.menu {
  width:25%;
  height:50px;
  font-size:20px;
  font-family: Bookman Old Style;
  color:#dddddd;
  float:left;
  display:inline-block;
	position:relative;
	margin:0;
	background-color:#222;
	font-weight:bold;
  text-align:center;
  line-height: 50px;
}

.menu:hover {
  background-color:rgba(105, 105, 105, 0.7)
}

#frame {
  width:99.5%;
  height:100%;
}

iframe {
  width:100%;
  height:100%;
}
